.country{
    border: 1px solid salmon;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
.button {
    padding: 10px;
    background:  #3f3f3f;
    color: white;
    outline: none;
    border: black;
    border-radius: 10px;
}
 .button:hover{
    border-bottom: 1px solid white;
}
.button:active{
    border-bottom: 1px solid red;
}